<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Wear Sync"
        android:supportsRtl="true"
        android:theme="@style/Theme.WearSync">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".PhoneSyncMainActivity"
            android:exported="true">
        
        
            <intent-filter>
        
                <action android:name="android.intent.action.VIEW"/>
        
                <category android:name="android.intent.category.DEFAULT"/>
        
                <category android:name="android.intent.category.BROWSABLE"/>
        
                <data
                    android:scheme="wearsync"/>
        
            </intent-filter>
        
        
        </activity>             
        <service
            android:name=".PhoneSyncNotificationService"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        
        <service 
            android:name=".PhoneSyncCameraService"
            android:enabled="true"   
            android:foregroundServiceType="camera"
            android:exported="false" />

        <service
            android:name=".PhoneSyncListenerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:host="*" android:pathPrefix="/wear-universal-sync" android:scheme="wear" />
            </intent-filter>
        </service>

    </application>

</manifest>
