<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    
    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.BODY_SENSORS" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Wear Sync"
        android:supportsRtl="true"
        android:theme="@style/Theme.WearSync">
        <!-- ✅ 关键修复：添加以下 meta-data 标签 -->
        <meta-data
            android:name="com.google.android.wearable.capability.resource"
            android:resource="@xml/wear" />


        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />
        <activity
            android:name="cn.luke.wearsync.WearSyncMainActivity"
            android:exported="true"
            android:theme="@style/Theme.WearSync"
            tools:ignore="WearRecents">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="cn.luke.wearsync.WearAlarmActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.WearSync.Alarm"
            android:taskAffinity="cn.luke.wearsync.alarm" >
            
            <meta-data android:name="android.wear.resume_to_app" android:value="true" />
        </activity>
        <activity
            android:name=".WearSyncBedtimeAutomationActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:launchMode="singleInstance"
            android:exported="false" />

        <activity
            android:name="cn.luke.wearsync.WearCameraActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.WearSync.Camera"
            android:taskAffinity="cn.luke.wearsync.camera" android:allowTaskReparenting="true">

            <meta-data android:name="android.wear.resume_to_app" android:value="true" />
        </activity>
        <service
            android:name="cn.luke.wearsync.WearSyncAccessService"
            android:description="@string/access_desc"
            android:enabled="true"
            android:exported="true"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <service
            android:name="cn.luke.wearsync.WearSyncBodyDetectService"
            android:exported="true"
            android:permission="com.google.android.gms.wearable.BIND_CHANNEL">
        </service>
        <service
            android:name="cn.luke.wearsync.WearSyncListenerService"
            android:enabled="true"
            android:exported="true">
        
            <!-- Filter 1: 专门接收消息，带精确路径过滤 -->
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED"/>
                <data 
                    android:scheme="wear" 
                    android:host="*" 
                    android:path="/wear-universal-sync" />
            </intent-filter>
        
            <!-- Filter 2: 专门接收通道事件，不加路径限制 -->
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.CHANNEL_EVENT"/>
            </intent-filter>
        
        </service>


        <service
            android:name="cn.luke.wearsync.WearSyncNotificationService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter android:priority="1000">
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>
