<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Wear Sync"
        android:supportsRtl="true"
        android:theme="@style/Theme.WearSync">

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />
        <activity
            android:name="cn.luke.wearsync.WearSyncMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="cn.luke.wearsync.WearAlarmActivity"
            android:exported="false"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" />

        <activity
            android:name="cn.luke.wearsync.WearCameraActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
        <service
            android:name="cn.luke.wearsync.WearSyncAccessService"
            android:description="@string/access_desc"
            android:enabled="true"
            android:exported="false"
            android:label="WearSync 自動化核心"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <service
            android:name="cn.luke.wearsync.WearSyncListenerService"
            android:enabled="true"
            android:exported="true">
        
            <intent-filter>
        
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED"/>
        
                <action android:name="com.google.android.gms.wearable.CHANNEL_EVENT"/>
        
            </intent-filter>
        
        </service>

        <service
            android:name="cn.luke.wearsync.WearSyncNotificationService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter android:priority="1000">
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>
